.weatherContainer {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 10px;
}
.weatherContainer h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}
.weatherList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.weatherItem {
    text-align: center;
    background-color: rgba(57, 57, 57, 0.075);
    border-radius: 10px;
    padding: 8px;
}
.forecastDay, .forecastDescription {
    text-transform: capitalize;
    font-size: 1rem;
}